body{
	background: #AB9A97;
}

.titulo{
	
	
	background: #14ECBE;
	padding: 30px;
	display: inline-block;
	margin: 50px 500px;
	border-radius: 5px ;
	box-shadow: 8px 8px #403D3D;


}

.titulo a{
	text-decoration: none;
	color: #000;
}

.titulo a:hover{
	font-size: 30px;
	-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}

.menu{
	list-style: none;
	padding: 0;
	width: 70%;
	max-width: 1000px;
	margin: auto;
	background: #14ECBE;
}

.menu li a{
		text-decoration: none;
	color: #000;
	padding: 20px;
	display: block;
	

}

.menu li{
	display: inline-block;
	text-align: center;
	
}

.menu li a:hover{
	background: #000;
	color: #fff;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-ms-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}

.audio1{
		background: #14ECBE;
		display: inline-block;
	padding: 30px;
	
	margin: 50px 400px;
	border-radius: 5px ;
	box-shadow: 8px 8px #403D3D;
}

.audio1 video{
	border-radius: 5px ;
	box-shadow: 8px 8px #403D3D;
}

.audio1 audio{
	border-radius: 40px ;
	box-shadow: 8px 8px #403D3D;
}

footer{
	margin: 50px;
	text-align: center;
}